<div class="admin-container">

  <h1 class="hero-title">Admin Dashboard</h1>


  <div class="dashboard-grid">

    <div class="dashboard-card" (click)="openModal('events')">
      EVENTI
    </div>

    <div class="dashboard-card" (click)="openModal('tickets')">
      TICKET
    </div>

    <div class="dashboard-card" (click)="openModal('users')">
      UTENTI
    </div>

  </div>

  <!-- MODAL -->
  <div class="overlay" *ngIf="modalOpen" (click)="handleOverlayClick()">
    <div class="modal" (click)="$event.stopPropagation()">

      <button class="close" *ngIf="selected !== 'events'" (click)="closeModal()">X</button>

      <div class="modal-content">

        <app-admin-event-component
          (back)="closeModal()"
          *ngIf="selected === 'events'">
        </app-admin-event-component>

        <app-admin-ticket-component
          *ngIf="selected === 'tickets'">
        </app-admin-ticket-component>

        <app-admin-user-component
          *ngIf="selected === 'users'">
        </app-admin-user-component>

      </div>

    </div>
  </div>

</div>
