/* =========================
   HEADER
========================= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.header h1 {
  font-size: 32px;
  letter-spacing: 4px;
  color: #9D69A3;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(157, 105, 163, 0.25);
}

/* =========================
   CONTAINER FILTRI
========================= */
.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

/* =========================
   GRID FILTRI
========================= */
.filters-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

/* =========================
   CARD FILTRI
========================= */
.filter-card {
  background: #222;
  padding: 15px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-card:hover {
  transform: translateY(-3px);
}

.filter-card h4 {
  margin-bottom: 10px;
  color: #4EA699;
  font-size: 13px;
  letter-spacing: 1px;
}

/* =========================
   INPUT
========================= */
.filter-card input {
  width: 100%;
  margin-bottom: 8px;
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 12px;
  text-align: center;
}

/* =========================
   PREZZO RANGE
========================= */
.price-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.price-row input {
  width: 90px;
  padding: 7px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 12px;
  text-align: center;
}

/* =========================
   BOTTONI
========================= */
.filters-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.filters-actions button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #4EA699;
  color: white;
  font-size: 12px;
  transition: 0.2s;
}

.filters-actions button:hover {
  transform: translateY(-2px);
}

/* RESET ROSSO */
.reset {
  background: #FE4A49 !important;
}

/* =========================
   APPICA FILTRI (CARD PREZZO)
========================= */
.apply-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #4EA699;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.apply-btn:hover {
  transform: scale(1.03);
}

/* =========================
   DATA (UNICA)
========================= */
.filter-card input[type="date"],
.filter-card input[type="datetime-local"] {
  width: 100%;
  text-align: center;
}


button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}