<div class="event-admin">

  <div class="event-header">
    <h2>GESTIONE EVENTI</h2>

    <button class="admin-btn btn-create" (click)="openCreate()">
      ➕ CREA EVENTO
    </button>
  </div>

  
  <div class="events-grid">

    <div class="event-card" *ngFor="let e of events">

      <h3>{{ e.name }}</h3>

      <p>{{ e.location }}</p>
      <p>{{ e.type }}</p>
      <p>{{ e.date | date:'dd/MM/yyyy' }}</p>

      <div class="event-actions">

        <button class="admin-btn btn-edit" (click)="edit(e)">
          ✏ MODIFICA
        </button>

        <button class="admin-btn btn-delete" (click)="delete(e.id)">
          🗑 ELIMINA
        </button>

      </div>

    </div>

  </div>

  
  <div class="overlay" *ngIf="modalOpen">

    <div class="modal">

      <button class="close" (click)="close()">X</button>

      <h3>{{ editMode ? 'MODIFICA EVENTO' : 'CREA EVENTO' }}</h3>

      <input [(ngModel)]="form.name" placeholder="Nome">
      <input [(ngModel)]="form.location" placeholder="Location">
      <input [(ngModel)]="form.description" placeholder="Descrizione">

      <input [(ngModel)]="form.ticketPrice" type="number" placeholder="Prezzo">

      <select [(ngModel)]="form.type">
        <option *ngFor="let t of types" [value]="t">{{ t }}</option>
      </select>

      <button class="admin-btn btn-save" (click)="save()">
        SALVA
      </button>

    </div>

  </div>

</div>